[Unit]
Description=Pi Camera ArUco Pose Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/sensor_node/camera
ExecStart=/usr/bin/python3 /home/pi/sensor_node/camera/aruco_robot_pose.py
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
